body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: black;
  background-color: #d8da3d }
h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }


p{
  color:black;
  font-size: 20px;
}

table{
  width: 50%;
  border: 2px solid black;
  margin: 0;
  border-collapse: collapse;

}

  

tbody > tr:nth-child(even) {background: lightgreen}
tbody > tr:nth-child(odd) {background: lightblue}


/*thead tr th{background: white}*/



thead th{
  font-weight: bold;
}


th,td{
  border-bottom: 2px solid black;
  border-right: 2px solid black;	
  text-align: left;
}




tbody tr th{
  font-style: italic;
}


td:nth-child(2){
  color: red;
}

td:nth-child(4){
  color: blue;
}


tfoot tr td{
    color: black;
    background-color: white;
}


dt:hover+dd{ /* th:hover also if you wish */
  background: purple;
}



